@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url('../fonts/lobster/lobster.woff2') format('woff2'), 
    					   url('../fonts/lobster/lobster.woff') format('woff'), 
    					   url('../fonts/lobster/lobster.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
